## DATA STRUCTURE ASSIGNMENT

1. **What are data structures, and why are they important?**  
   Data structures are ways to organize and store data efficiently. They are important because they enable efficient data access, modification, and management, improving program performance.  

2. **Explain the difference between mutable and immutable data types with examples.**  
   Mutable types (e.g., lists, dictionaries) can be modified after creation, while immutable types (e.g., tuples, strings) cannot be changed once assigned.  

3. **What are the main differences between lists and tuples in Python?**  
   Lists are mutable, slower, and use more memory, while tuples are immutable, faster, and consume less memory.  

4. **Describe how dictionaries store data.**  
   Dictionaries store data as key-value pairs using a hash table, enabling fast lookups and modifications.  

5. **Why might you use a set instead of a list in Python?**  
   Sets remove duplicate values automatically and offer faster membership tests compared to lists.  

6. **What is a string in Python, and how is it different from a list?**  
   A string is an immutable sequence of characters, whereas a list is mutable and can hold elements of different data types.  

7. **How do tuples ensure data integrity in Python?**  
   Tuples are immutable, preventing accidental modification and ensuring data remains unchanged.  

8. **What is a hash table, and how does it relate to dictionaries in Python?**  
   A hash table is a data structure that maps keys to values using a hashing function, which is how Python dictionaries store data efficiently.  

9. **Can lists contain different data types in Python?**  
   Yes, lists in Python can store elements of different data types, including numbers, strings, and objects.  

10. **Explain why strings are immutable in Python.**  
   Strings are immutable to enhance security, optimize memory usage, and allow efficient string interning.  

11. **What advantages do dictionaries offer over lists for certain tasks?**  
   Dictionaries provide faster lookups using keys, making them ideal for tasks requiring quick data retrieval.  

12. **How do sets handle duplicate values in Python?**  
   Sets automatically remove duplicate values, ensuring all elements are unique.  

13. **Describe a scenario where using a tuple would be preferable over a list.**  
   Tuples are preferable for storing fixed data like database records or function return values that shouldn't be modified.  

14. **How does the “in” keyword work differently for lists and dictionaries?**  
   In lists, it checks for the presence of a value, while in dictionaries, it checks for the presence of a key.  

15. **Can you modify the elements of a tuple? Explain why or why not.**  
   No, tuples are immutable, meaning their elements cannot be changed after creation.  

16. **What is a nested dictionary, and give an example of its use case?**  
   A nested dictionary is a dictionary within another dictionary, useful for storing hierarchical data like employee records.  

17. **Describe the time complexity of accessing elements in a dictionary.**  
   Accessing elements in a dictionary has an average time complexity of O(1) due to hash table indexing.  

18. **In what situations are lists preferred over dictionaries?**  
   Lists are preferred when order matters, or when storing sequential data without requiring key-value lookups.  

19. **Why are dictionaries considered unordered, and how does that affect data retrieval?**  
   Before Python 3.7, dictionaries were unordered because they relied on hash tables; this meant data retrieval was not in insertion order.  

20. **Explain the difference between a list and a dictionary in terms of data retrieval.**  
   Lists retrieve elements by index, requiring O(n) for searching, while dictionaries use key-based lookups, providing O(1) retrieval.

# 1. Write a code to create a string with your name and print it.

In [1]:
name = "YourName"
print(name)

YourName

# 2. Write a code to find the length of the string "Hello World"

In [2]:
print(len("Hello World"))

11

# 3. Write a code to slice the first 3 characters from the string "Python Programming"

In [3]:
print("Python Programming"[:3])

Pyt

# 4. Write a code to convert the string "hello" to uppercase

In [4]:
print("hello".upper())

HELLO

# 5. Write a code to replace "apple" with "orange" in the string "I like apple"

In [5]:
print("I like apple".replace("apple", "orange"))

I like orange

# 6.Write a code to create a list with numbers 1 to 5 and print it

In [6]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [7]:
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

# 8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [8]:
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [9]:
print(['a', 'b', 'c', 'd'][1])

b

# 10. Write a code to reverse the list [10, 20, 30, 40, 50]

In [10]:
print([10, 20, 30, 40, 50][::-1])

[50, 40, 30, 20, 10]

# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it

In [11]:
tpl = (100, 200, 300)
print(tpl)

(100, 200, 300)

# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [12]:
print(('red', 'green', 'blue', 'yellow')[-2])

blue

# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [13]:
print(min((10, 20, 5, 15)))

5

# 14. Write a code to find the index of "cat" in the tuple ('dog', 'cat', 'rabbit')

In [14]:
print(('dog', 'cat', 'rabbit').index("cat"))

1

# 15. Write a code to create a tuple with three fruits and check if "kiwi" is in it

In [15]:
fruits = ("apple", "banana", "orange")
print("kiwi" in fruits)

False

# 16. Write a code to create a set with elements 'a', 'b', 'c' and print it

In [16]:
s = {'a', 'b', 'c'}
print(s)

{'b', 'c', 'a'}


# 17.Write a code to  clear all elements from the set {1, 2, 3, 4, 5}

In [17]:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()


# 18.Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [18]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

# 19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [19]:
print({1, 2, 3}.union({3, 4, 5}))

{1, 2, 3, 4, 5}

# 20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [20]:
print({1, 2, 3}.intersection({2, 3, 4}))

{2, 3}

# 21.Write a code to create a dictionary with keys "name", "age", and "city", and print it

In [21]:
person = {"name": "John", "age": 25, "city": "New York"}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

# 22.Write a code to add a new key-value pair "country": "USA" to the dictionary

In [22]:
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'city': 'New York', 'country': 'USA'}

# 23. Write a code to access the value associated with "name" in {'name': 'Alice', 'age': 30}

In [23]:
print({'name': 'Alice', 'age': 30}["name"])

Alice

# 24.Write a code to remove the key "age" from {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [24]:
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del d["age"]
print(d)

{'name': 'Bob', 'city': 'New York'}

# 25. Write a code to check if the key "city" exists in {'name': 'Alice', 'city': 'Paris'}

In [25]:

print("city" in {'name': 'Alice', 'city': 'Paris'})

True

#26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [26]:
my_list = [1, 2, 3, 4]
my_tuple = (5, 6, 7, 8)
my_dict = {"a": 1, "b": 2}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4]
Tuple: (5, 6, 7, 8)
Dictionary: {'a': 1, 'b': 2}

#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [27]:
import random

random_list = random.sample(range(1, 101), 5)
random_list.sort()
print("Sorted Random List:", random_list)

Sorted Random List: [56, 71, 86, 89, 96]

#28. Write a code to create a list with strings and print the element at the third index.

In [28]:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]
print("Element at index 3:", string_list[3])

Element at index 3: date

#29. Write a code to combine two dictionaries into one and print the result.

In [29]:
dict1 = {"x": 1, "y": 2}
dict2 = {"y": 3, "z": 4}

combined_dict = {**dict1, **dict2}  # dict2 values will override dict1 if keys match
print("Combined Dictionary:", combined_dict)

Combined Dictionary: {'x': 1, 'y': 3, 'z': 4}



# 30.Write a code to convert a list of strings into a set

In [30]:
str_list = ["apple", "banana", "cherry", "banana"]
print(set(str_list))

{'cherry', 'banana', 'apple'}